ion-toolbar {
  --background: #1e1e2d;  /* Fondo */
  --color: #ffcc00;       /* Texto e íconos */
}

ion-fab-button {
  --background: #1e1e2d;   /* Fondo */
  --color: #fff;           /* Color del ícono */
}